marquee{
    background-color: cadetblue;
    padding: 15px;
    font-size: larger;
}

.n{
    background-color: coral;
    padding: 5px;
   
}
.n ul{
    display: flex;
    justify-content: space-between;
}
.n li{
    font-size: larger;
  list-style-type: none;
  margin: 2.5px;
}
a{
    text-decoration: none;
    color: black;
   
}
.info{
    background-color: #eee;
    position: relative;
    margin: 5px;
    padding: 5px;
}
.info1:hover{
    background-color: black;
    color: aquamarine;
    font-size: 25px;
}
.i{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 50px;
    top: 5px;
}
.info h2{
    margin: 20px;
}
.a{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    margin: 0px 50px ;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 30px;
}
fieldset{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    align-items: center;
    padding: 10px 20px;
    opacity: 0.9;
}
.t{
    background-color: chocolate;
    font-size: 20px;
    text-align: center;
    margin-left: 30%;
}
footer{
    padding: 5px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    margin: 5px;
    text-align: center;
}
footer h3{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
 
 margin:5px 40%;
}
footer p{
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    margin:5px 40%;
}
.hh{
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}